@import 'mixins.scss'; 
@import 'variables.scss';

html, body {
    height: 900px;
    background-color: #E5E5E5;
}

.mainPremium {
    width: 100%;
    font-size: 26px;
    color: #000000;
    font-weight: bolder;
    align-content: center;
    @include flexContainer(column, wrap, center, center);

    .mainWord {
        padding: 0 10px;
        margin-top: 200px;
        margin-bottom: 124px;
        @include flexContainer(row, wrap, center, center);

        & > span:first-child {
            font-size: 64px;
            font-weight: bolder;
        }

        & > span:last-child {
            font-size: 36px;
            font-weight: bold;
            padding-left: 20px;
        }
    }

    .mainDesc {
        font-size: 36px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bolder;
        margin-bottom: 63px;

        & > center {
            font-weight: bolder; 
        }
    }

    .btnBlock {
        width: auto;
        margin-bottom: 55px;

        & > button {
            height: auto;
            width: 100%;
            padding: 0 20px;
            transition: all .2s linear;
            border: 1px solid #000000;
            border-radius: $borderRadius;
            background-color: $textColor;
            box-shadow: 0px 4px 5px 0px $shadowColor;
            @include font($colorTextBtn, 36px, $fontFamily, $fontWeight);

            &:hover {
                color: $textColor;
                background-color: #FFFFFF;
                box-shadow: 0px 6px 5px 0px $shadowColor;
            }
        }
    }

    .premiumDesc {
        padding: 0 10px;
        margin-bottom: 100px;
        @include flexContainer(column, wrap, center, center);

        & > div:first-child {
            font-size: 18px;
            text-align: center;
            font-weight: bolder;
        }

        & > div:last-child {
            font-size: 18px;
            text-align: center;
            font-weight: bolder;
        }
    }
}

@media all and (max-width: 908px) {
    .mainPremium {

        .mainWord {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .mainDesc {
            margin-top: 10px;
        }
    }
}

@media all and (max-width: 410px) {
    .mainPremium {

        .mainWord {
            
            & > span:first-child {
                font-size: 44px;
            }

            & > span:last-child {
                font-size: 24px;
            }
        }

        .mainDesc {
            font-size: 24px;
        }

        .btnBlock {
    
            & > button {
                font-size: 27px;
            }
        }

        .premiumDesc {  
            & > div:first-child {
                font-size: 16px;
            }
    
            & > div:last-child {
                font-size: 16px;
            }
        }
    }
}

@media all and (max-width: 314px) {
    .mainPremium {

        .btnBlock {
    
            & > button {
                font-size: 23px;
            }
        }
    }
}